@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.App {
  text-align: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Bungee', cursive;
  overflow: hidden;
  background-color: #282c34;
}

.logo {
  height: 3rem;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h2 {
  margin: 0;
}

.full-header {
  margin: 2rem;
  font-size: calc(10px + 2vmin);
}

.small-header {
  flex-direction: row;
  margin: 0.5rem;
  font-size: 1rem;
  transition: all 0.5s;
}

.small-header h2 {
  margin-left: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.difficulty-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-header {
  padding: 0 2rem;
  width: 100%;
  max-width: 600px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-controls input {
  width: 10rem;
  flex: 1;
  background-color: transparent;
  color: white;
  font-family: 'Bungee', cursive;
  margin: 0 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
.custom-controls input::-webkit-outer-spin-button,
.custom-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.custom-controls input[type='number'] {
  -moz-appearance: textfield;
}

.custom-controls :focus-visible {
  outline: none;
}

.counter {
  font-size: 2rem;
}

.mines {
  flex: 1;
  text-align: right;
}

.timer {
  flex: 1;
  text-align: left;
}

.form-item {
  margin: 2em 0.5rem;
}

.btn {
  flex: 1;
  width: 100%;
  min-width: 210px;
  max-width: 210px;
  margin: 0.5em;
  background-color: #282c34;
  transition: background-color 0.1s;
  cursor: pointer;
}

.btn:hover {
  background-color: #535967;
  transition: background-color 0.1s;
}

.control-border {
  border-radius: 0.5rem;
  border: 3px solid white;
}

.difficulty-controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
}

.open-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #444850;
  border-top: 0.25em solid #595959;
  border-right: 0.25em solid #595959;
  border-left: 0.25em solid #7c7c7c;
  border-bottom: 0.25em solid #7c7c7c;
  height: 100%;
  width: 100%;
}

.closed-cell:hover {
  background-color: #525760;
}

.closed-cell {
  box-sizing: border-box;
  /* background-color: #191b1f; */
  background-color: #444850;
  border-top: 0.25em solid white;
  border-right: 0.25em solid white;
  border-left: 0.25em solid #c6c6c6;
  border-bottom: 0.25em solid #c6c6c6;
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.show-game {
  opacity: 1;
  transition: opacity 0.75s;
}

.exploded {
  background-color: #ff0000;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.color_1 {
  color: #00c7ff;
}

.color_2 {
  color: #448b44;
}

.color_3 {
  color: #f54848;
}

.color_4 {
  color: #3a6ad0;
}

.color_5 {
  color: #e89607;
}

.color_6 {
  color: #47c0c9;
}

.color_7 {
  color: #924292;
}

.color_8 {
  color: #f1f1f1;
}
